/*  responsive  ---------------------------------------------------- */

/* ------------------------------------------------------ 576 --*/
@media (min-width: 576px) {


#logo{
  margin: 0;
  padding: 0;
  padding-bottom: .5em;
}

.separator-medium {
  background: url(images/circle.png) no-repeat center center;
  background-size: 100%;
  padding-top: 2em;
  height: 5.5em;
  display: block;
  clear: both;
  color: #fff;
  font: 1em 'Syntax-UltraBlack';
  text-align: center;
  margin-bottom: 1em;
  background-size : 150%;
}

/* jumbo */
.jumbotron {
  padding: 0rem 1rem;
  border-radius: 0.3rem;
  width: 100%;
  height: auto;
}

.jumboimg {
  background: url(jumboimages/smithsclass5.jpg) no-repeat;
  width: 100%;
  background-size: cover;
  height: 16em;
}
/* end jumbo */


/* Info */
.about {
  line-height:1.7em;
  color:#666;
  float:left;
width: 100%;
  padding:0;

}

.about h3{color:#9f3129; font:2em 'Syntax-Black'; margin-left:-0.04em;}

.courses {
  line-height:1.7em;
  color:#666;
  max-width: 100%;
  float: left;
}

.courses h3{
  margin-left: 0em;
  color:#416499;
  font:1.5em 'Syntax-Black';}

.courses li{
  font-weight: bold;
  margin-left: -1em;
  padding:0 1em;
  display:inline-block;
  font-style: 'Syntax-Bold';
  color: #08789B;
  width: 100%;
}

.courses li.bullet{
  background:url(images/bullet.png) no-repeat center left;
}

.faq {
  line-height:1.7em;
  float: left;
  color:#666;
width: 100%;
  padding:0em;
}

.faq h3{color:#B08B2E; font:1.5em 'Syntax-Black'; margin-left:-0.04em;}

.faq a {color:inherit;}

.faq a:hover {color:#c77828;}

/* Info */

.morelinks {
  float          : left
  padding-bottom : 1em;
  text-align     : left;
  padding-left: 0em;
}

}


/*   Medium devices (tablets, 768px and up)  ---------  */
@media (min-width: 760px) {
  .ccnylogo {
    max-width: 55%;
    height: 100%;
  }

  .humlogo {
    max-height: 5em;
    height: auto;
  }

  #logo  {
    margin: 0;
    padding: 0;
    padding-bottom: .5em;
  }

  #sub-header {
    display: block;
    color: #000;
    width: 100%;
    float: left;
    font: 1em  Syntax-Black;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: em;
  }

  #sub-header h2 {
    line-height: 1em;
  }

  /*  separators  */
  .separator-large {
    display         : block;
    height          : 8em;
    clear           : both;
    margin-bottom   : 1em;
    padding-top     : 3em;
    color           : #fff;
    background      : url(images/starburstlarge.png) no-repeat center center;
    background-size : 250%;
    text-align      : center;
    font            : .7em 'Syntax-UltraBlack';

  }

  .separator-medium {
    display         : block;
    height          : 8.25em;
    clear           : both;
    margin-bottom   : 1em;
    padding-top     : 3.2em;
    color           : #fff;
    background      : url(images/starburstmedium.png) no-repeat center center;
    background-size : 150%;
    text-align      : center;
    font            : .9em 'Syntax-UltraBlack';
  }


  .separator-small {
    display         : block;
    height          : 6.5em;
    clear           : both;
    margin-bottom   : 1em;
    padding-top     : 2.25em;
    color           : #fff;
    background      : url(images/starburstsmall.png) no-repeat center center;
    background-size : 150%;
    text-align      : center;
    font            : .75em 'Syntax-UltraBlack';
  }

  /*  separator */

  /* jumbo */
  .jumbotron {
    padding: 0rem 1rem;
    border-radius: 0.3rem;
    width: 100%;
    height: auto;
  }

  .jumboimg {
    background: url(jumboimages/smithsclass5.jpg) no-repeat;
    background-size: contain;
    height: 25em;
    padding: 0;
    margin: 0;
  }

  /* end jumbo */

  /* about course faq */
  .about {
    line-height: 1.25em;
    color: #666;
    float: left;
    width: 100%;
    padding: 0em 2em 1.5em 0em;
  }

  .about h3 {
    color: #9f3129;
    font: 2.25em 'Syntax-Black';
    text-align: left;
  }

  .courses {
    line-height:1.7em;
  	color:#666;
  	padding: 0em;
    width; 100%;
    float
  }

  .courses h3{margin-left: .25em; color:#416499; font:2.25em 'Syntax-Black'; text-align: center;}

.courses ul {margin-left: -1em; }

  .courses li{
  	margin-left: 2em;
  	padding:0 1em;
  	display:inline;
    width: 100%;
  	font: 1em 'Syntax-Bold';
		color: #08789B;
  }

  .courses li.bullet{
    	background:url(images/bullet.png) no-repeat center left;
    }

  .faq {
    line-height: 1.7em;
    color: #666;
    padding: 0 0 0 2em;
    float: left;
    padding-bottom: 2em;
    width: 100%
  }

  .faq h3 {
    color: #B08B2E;
    font: 2.25em 'Syntax-Black';
    text-align: left;
  }

  .faq a {
    color: inherit;
  }

  .faq a:hover {
    color: #c77828;
  }

  /* links   ---------------  */

  .contact {
    float          : left;
    padding-bottom : 1em;
    padding-left   : 0px;
    text-align     : left;
  }

  .pdf {
    float          : left;
    padding-bottom : 1em;
    padding-left   : 0em;
    text-align     : left;
  }

  .morelinks {
    float          : right;
    padding-bottom : 1em;
    text-align     :  right;
    padding-right: 0em;
  }

  h4.plus {
    text-indent : -9999px;
  }

  /* Social Icons */

  .social {
    float         : left;
    margin-bottom : 1em;
    margin-right : 0em;
    margin-left: 0em;
    padding: 0;
  }

  .social span {
    text-indent : -9999px;
  }

  .social .flickr {
    width         : 3em;
    height        : 3em;
    float         : left;
    margin-right  : .65em;
    margin-bottom : 1em;
    background    : url(images/flickr.png) no-repeat;
    border: 1px solid #999;
    margin-left: 0em;
  }

  .social .flickr:hover {
    background : url(images/flickr_over.png) no-repeat;
  }

  .social .facebook {
    width         : 3em;
    height        : 3em;
    float         : left;
    margin-right  : .65em;
    margin-bottom : 1em;
    background    : url(images/facebook.png) no-repeat;
  }

  .social .facebook:hover {
    background : url(images/facebook_over.png) no-repeat;
  }

  .social .twitter {
    width         : 3em;
    height        : 3em;
    float         : left;
    margin-bottom : 1em;
    background    : url(images/twitter.png) no-repeat;
    margin-right: 6em;
  }

  .social .twitter:hover {
    background : url(images/twitter_over.png) no-repeat;
  }

  .social .youtube {
    width         : 3em;
    height        : 3em;
    float         : left;
    margin-right  : .65em;
    margin-bottom : 1em;
    background    : url(images/youtube.png) no-repeat;
  }

  .social .youtube:hover {
    background : url(images/youtube_over.png) no-repeat;
  }

  .social .linkedin {
    width         : 3em;
    height        : 3em;
    float         : left;
    margin-right  : .65em;
    margin-bottom : 1em;
    background    : url(images/linkedin.png) no-repeat;
  }

  .social .linkedin:hover {
    background : url(images/linkedin_over.png) no-repeat;
  }

  .social .map {
    width         : 3em;
    height        : 3em;
    float         : left;
    margin-right  : .65em;
    margin-bottom : 1em;
    background    : url(images/map.png) no-repeat;
  }

  .social .map:hover {
    background : url(images/map_over.png) no-repeat;
  }

    /* links   --------------------------------------------------------------  */

}

// Large devices (desktops, 992px and up) /* ---------------------------------------- 992 -----------------*/
@media (min-width: 992px) {
  .ccnylogo {
    max-width: 48%;
    height: 100%;
  }

  .humlogo {
    max-height: 5em;
    height: auto;
  }
  /* Header */
  #logo {
    margin: 0;
    padding: 0;
    padding-bottom: .5em;
    float: left;
    width: 60%;
 }

  #logo h1 {
    text-indent: -9999px;
  }

  #sub-header {
    display: block;
    color: #000;
    width: 35%;
    float: left;
    font: 1em  Syntax-Black;
    margin-top: 1em;
    margin-bottom: 0em;
    margin-left: 2em;
  }

  #sub-header h2 {
    line-height: 2em;
  }


  /*  separators  */
  .separator-large {
    display         : block;
    height          : 8em;
    clear           : both;
    margin-bottom   : 1em;
    padding-top     : 3em;
    color           : #fff;
    background      : url(images/starburstlarge.png) no-repeat center center;
    background-size : 250%;
    text-align      : center;
    font            : .7em 'Syntax-UltraBlack';

  }

  .separator-medium {
    display         : block;
    height          : 8.25em;
    clear           : both;
    margin-bottom   : 1em;
    padding-top     : 3.2em;
    color           : #fff;
    background      : url(images/starburstmedium.png) no-repeat center center;
    background-size : 150%;
    text-align      : center;
    font            : .9em 'Syntax-UltraBlack';
  }


  .separator-small {
    display         : block;
    height          : 6.5em;
    clear           : both;
    margin-bottom   : 1em;
    padding-top     : 2.25em;
    color           : #fff;
    background      : url(images/starburstsmall.png) no-repeat center center;
    background-size : 150%;
    text-align      : center;
    font            : .75em 'Syntax-UltraBlack';
  }

  /*  separator */

  /* jumbo */
  .jumbotron {
    padding: 1rem 1rem;
    background-color: gray;
    border-radius: 0.3rem;
    width: 100%;
    height: auto;
  }

  .jumboimg {
    background: url(jumboimages/smithsclass5.jpg) no-repeat;
    background-size: cover;
    height: auto;
  }
  /* end jumbo */

  /* links   ---------------  */

  .contact {
    float          : left;
    padding-bottom : 1em;
    padding-left   : 0px;
    text-align     : left;
  }

  .pdf {
    float          : left;
    padding-bottom : 1em;
    padding-left   : 8em;
    text-align     : left;
  }

  .morelinks {
    float          : right;
    padding-bottom : 1em;
    padding-right   : 0em;
    text-align     : right;
    margin-right: 0em;
  }

  h4.plus {
    text-indent : -9999px;
  }

  /* Social Icons */

  .social {
    float         : left;
    margin-bottom : 1em;
    margin-right : 0em;
    margin-left: 0em;
    padding: 0;
  }

  .social span {
    text-indent : -9999px;
  }

  .social .flickr {
    width         : 3em;
    height        : 3em;
    float         : left;
    margin-right  : .65em;
    margin-bottom : 1em;
    background    : url(images/flickr.png) no-repeat;
    border: 1px solid #999;
    margin-left: 0em;
  }

  .social .flickr:hover {
    background : url(images/flickr_over.png) no-repeat;
  }

  .social .facebook {
    width         : 3em;
    height        : 3em;
    float         : left;
    margin-right  : .65em;
    margin-bottom : 1em;
    background    : url(images/facebook.png) no-repeat;
  }

  .social .facebook:hover {
    background : url(images/facebook_over.png) no-repeat;
  }

  .social .twitter {
    width         : 3em;
    height        : 3em;
    float         : left;
    margin-right  : .65em;
    margin-bottom : 1em;
    background    : url(images/twitter.png) no-repeat;
  }

  .social .twitter:hover {
    background : url(images/twitter_over.png) no-repeat;
  }

  .social .youtube {
    width         : 3em;
    height        : 3em;
    float         : left;
    margin-right  : .65em;
    margin-bottom : 1em;
    background    : url(images/youtube.png) no-repeat;
  }

  .social .youtube:hover {
    background : url(images/youtube_over.png) no-repeat;
  }

  .social .linkedin {
    width         : 3em;
    height        : 3em;
    float         : left;
    margin-right  : .65em;
    margin-bottom : 1em;
    background    : url(images/linkedin.png) no-repeat;
  }

  .social .linkedin:hover {
    background : url(images/linkedin_over.png) no-repeat;
  }

  .social .map {
    width         : 3em;
    height        : 3em;
    float         : left;
    margin-right  : .65em;
    margin-bottom : 1em;
    background    : url(images/map.png) no-repeat;
  }

  .social .map:hover {
    background : url(images/map_over.png) no-repeat;
  }


    .unit {float: right;}
    /* links   ---------------  */
}

/* Extra large devices (large desktops, 1200px and up) --------------=--------------------------------  1200 --------- */

@media (min-width: 1200px) {

  .ccnylogo {
    max-width: 48%;
    height: 100%;
  }

  .humlogo {
    max-height: 5em;
    height: auto;
  }

  /* Header */
  #logo {
    margin: 0;
    padding: 0;
    padding-bottom: .5em;
    float: left;
    width: 60%;
 }

  #logo h1 {
    text-indent: -9999px;
  }

  #sub-header {
    display: block;
    color: #000;
    width: 35%;
    float: left;
    font: 1em  Syntax-Black;
    margin-top: 1em;
    margin-bottom: 0em;
    margin-left: 2em;
  }

  #sub-header h2 {
    line-height: 2em;
  }

/* end header   */

  #deadline {
    clear: both;
    font: 1.30em Syntax-Roman;
    float: right;
    width: 100%;
    margin-bottom: 1em;
  }

  .spring {
    font: 1.5em Syntax-UltraBlack;
    color: #416499;
    padding: 0 0 1.5em 0em;
  }

  .fall {
    font: 1.5em Syntax-UltraBlack;
    color: #9f3129;
  }

  .download a {
    font: 1.40em Syntax-UltraBlack;
    color: #c77828;
    display: block;
    padding-top: .5em;

  }

  .download a:hover {
    color: #9f3129;
  }
  /* header */

  /* jumbo */
  .jumbotron {
    padding: 1rem 1rem;
    border-radius: 0.3rem;
    width: 100%;
    height: auto;
  }

  .jumboimg {
    background: url(jumboimages/smithsclass5.jpg) no-repeat;
    background-size: 100%;
    height: 30em;
  }

  /* end jumbo */

  /*  separators  */
  .separator-large {
    display         : block;
    height          : 8em;
    clear           : both;
    margin-bottom   : 1em;
    padding-top     : 3em;
    color           : #fff;
    background      : url(images/starburstlarge.png) no-repeat center center;
    background-size : 250%;
    text-align      : center;
    font            : .7em 'Syntax-UltraBlack';

  }

  .separator-medium {
    display         : block;
    height          : 8.25em;
    clear           : both;
    margin-bottom   : 1em;
    padding-top     : 3.2em;
    color           : #fff;
    background      : url(images/starburstmedium.png) no-repeat center center;
    background-size : 150%;
    text-align      : center;
    font            : 1.2em 'Syntax-UltraBlack';
  }


  .separator-small {
    display         : block;
    height          : 6.5em;
    clear           : both;
    margin-bottom   : 1em;
    padding-top     : 2.25em;
    color           : #fff;
    background      : url(images/starburstsmall.png) no-repeat center center;
    background-size : 150%;
    text-align      : center;
    font            : 1.5em 'Syntax-UltraBlack';
  }

  /*  separator */

  /* about course faq */
  .about {
    line-height: 1.25em;
    color: #666;
    float: left;
    width: 100%;
    padding: 0em 2em 1.5em 0em;
  }

  .about h3 {
    color: #9f3129;
    font: 2.75em 'Syntax-Black';
    text-align: left;
  }

  .courses {
    line-height:1.7em;
  	color:#666;
  	padding: 0 1em 0 0em;
    width; 100%;
  }

  .courses h3{margin-left: .25em; color:#416499; font:2.75em 'Syntax-Black'; text-align: center;}

.courses ul {margin-left: 0em; }

  .courses li{
  	margin-left: 2em;
  	padding:0 1em;
  	display:inline;
    width: 100%;
  	font: 1em 'Syntax-Bold';
		color: #08789B;
  }

  .courses li.bullet{
    	background:url(images/bullet.png) no-repeat center left;
    }

  .faq {
    line-height: 1.7em;
    color: #666;
    padding: 0 0 0 2em;
    float: left;
    padding-bottom: 2em;
    width: 100%
  }

  .faq h3 {
    color: #B08B2E;
    font: 2.75em 'Syntax-Black';
    text-align: left;
  }

  .faq a {
    color: inherit;
  }

  .faq a:hover {
    color: #c77828;
  }

/* links   ---------------  */

.contact {
  float          : left;
  padding-bottom : 1em;
  padding-left   : 0px;
  text-align     : left;
}

.pdf {
  float          : left;
  padding-bottom : 1em;
  padding-left   : 8em;
  text-align     : left;
}

.morelinks {
  float          : left;
  padding-bottom : 1em;
  padding-left   : 8em;
  text-align     : right;
  padding-left: 0em;
}

h4.plus {
  text-indent : -9999px;
}

/* Social Icons */

.social {
  float         : left;
  margin-bottom : 1em;
  margin-right : 0em;
  margin-left: 0em;
  padding: 0;
}

.social span {
  text-indent : -9999px;
}

.social .flickr {
  width         : 3em;
  height        : 3em;
  float         : left;
  margin-right  : .65em;
  margin-bottom : 1em;
  background    : url(images/flickr.png) no-repeat;
  border: 1px solid #999;
  margin-left: 0em;
}

.social .flickr:hover {
  background : url(images/flickr_over.png) no-repeat;
}

.social .facebook {
  width         : 3em;
  height        : 3em;
  float         : left;
  margin-right  : .65em;
  margin-bottom : 1em;
  background    : url(images/facebook.png) no-repeat;
}

.social .facebook:hover {
  background : url(images/facebook_over.png) no-repeat;
}

.social .twitter {
  width         : 3em;
  height        : 3em;
  float         : left;
  margin-right  : .65em;
  margin-bottom : 1em;
  background    : url(images/twitter.png) no-repeat;
}

.social .twitter:hover {
  background : url(images/twitter_over.png) no-repeat;
}

.social .youtube {
  width         : 3em;
  height        : 3em;
  float         : left;
  margin-right  : .65em;
  margin-bottom : 1em;
  background    : url(images/youtube.png) no-repeat;
}

.social .youtube:hover {
  background : url(images/youtube_over.png) no-repeat;
}

.social .linkedin {
  width         : 3em;
  height        : 3em;
  float         : left;
  margin-right  : .65em;
  margin-bottom : 1em;
  background    : url(images/linkedin.png) no-repeat;
}

.social .linkedin:hover {
  background : url(images/linkedin_over.png) no-repeat;
}

.social .map {
  width         : 3em;
  height        : 3em;
  float         : left;
  margin-right  : .65em;
  margin-bottom : 1em;
  background    : url(images/map.png) no-repeat;
}

.social .map:hover {
  background : url(images/map_over.png) no-repeat;
}

  /* links   --------------------------------------------------------------  */
}
